<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - SandulasWebApp</title>

	<link rel="stylesheet" href="~/css/main.css" />
</head>
<body>
	<header>
		<div>
			<div id="left">
				<a asp-controller="Main" asp-action="Contact" class="title">Adrian Sandu<br /><span>@@sandulas</span></a>
				<a asp-controller="Main" asp-action="About">About Me</a>
				<a asp-controller="Main" asp-action="Resume">Resume</a>
			</div>
			<div class="avatar">
				<a asp-controller="Main" asp-action="About">
					<img src="~/images/avatar.jpg" />
				</a>
				&nbsp;
			</div>
			<div id="right">
				<div>
					<a asp-controller="Main" asp-action="Chatbot">Chatbot</a>
					<a asp-controller="Main" asp-action="Contact">Contact</a>
				</div>
			</div>
		</div>
	</header>
	<div class="title">adsfafa</div>
	
	@RenderBody()

	<br /><br />
	<footer>
		<p>&copy; @DateTime.Now.Year - Adrian Sandu</p>
	</footer>

	@RenderSection("Scripts", required: false)

</body>
</html>
