@{
	ViewData["Title"] = "About Me";
}

<div class="content-flexbox">
	<div></div>
	<div>
		<h1>@ViewData["Title"]</h1>
	</div>
	<div></div>
</div>

<div class="content-flexbox about-item">
	<div></div>
	<div style="position: relative;">
		<img src="~/images/avatar.jpg" style="width: 12rem; height: 12rem; position: absolute; top: -1.24rem; left: .5rem; border-radius: 50%; border: solid .24rem #ffffff; background: #ffffff; " />
		<div style="background: #eeeeee; margin-left: 6.5rem; padding: .5rem 1rem .5rem 9rem; font-size: 1.1rem; border-radius: 0 0 0 1rem; min-height: 9rem;">
			<p style="font-weight: bold; font-size: 110%">I'm a software engineer.</p>
			<p>
				I was born in 1980, I live in Bucharest, Romania.<br />
				I got my first job in 2001 as a full-stack web developer.
			</p>
			<p>I'm married and I have a son.</p>
		</div>
	</div>
	<div></div>
</div>


<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>
