@{
	ViewData["Title"] = "About Me";
}

<div class="content-flexbox about-item-left">
	<div></div>
	<div>
		<img src="~/images/about1.jpg" />
		<div>
			<p>I'm a software engineer.</p>
			<p>
				I've started my career in 2001 as a full-stack web developer.<br />
				I've worked as a backend developer, team leader and product manager.
			</p>
			<p>I was born in 1980, I live in Bucharest, I'm married and I have a son.</p>
		</div>
	</div>
	<div></div>
</div>

<div class="content-flexbox about-item-right">
	<div></div>
	<div>
		<div>
			<p>I'm passionate about cutting edge technology and science.</p>
			<p>
				I find the recent advancements in Artificial Intelligence, Quantum Computing,<br />
				VR / AR, Space Exploration, Genomics and Neuroscience particularly interesting.
			</p>
		</div>
		<img src="~/images/about2.jpg" />
	</div>
	<div></div>
</div>

<div class="content-flexbox about-item-left">
	<div></div>
	<div>
		<img src="~/images/about3.jpg" />
		<div>
			<p>I love nature, mountain hikes and motorcycles.</p>
			<p>
				I like to travel, especially in remote places and rural areas.<br />
				I also like books, rock music and beer.
			</p>
		</div>
	</div>
	<div></div>
</div>
