@{
	ViewData["Title"] = "Chatbot";
}

<div class="content-flexbox">
	<div></div>
	<div>
		<div class="chatbot-content">
			<p>@ViewData["Message"]</p>
		</div>
	</div>
	<div></div>
</div>
