@{
	ViewData["Title"] = "Contact";
}

<div class="content-flexbox">
	<div></div>
	<div>
		<div class="contact-content">
			<p class="section-end"><img src="~/images/icon-location.png" />Bucharest, Romania</p>

			<p>
				<a href="skype:sandulas?chat" class="content">
					<img src="~/images/icon-skype.png" />sandulas
				</a>
			</p>
			<p>
				<a href="mailto:sandulas@gmail.com" class="content">
					<img src="~/images/icon-email.png" />sandulas@gmail.com
				</a>
			</p>
			<p class="section-end">
				<a href="tel:+40722174314" class="content">
					<img src="~/images/icon-phone.png" />+40 722 174314
				</a>
			</p>

			<p>
				<a href="http://linkedin.com/in/sandulas" target="_blank" class="content">
					<img src="~/images/icon-linkedin.png" />/in/sandulas
				</a>
			</p>
			<p>
				<a href="http://github.com/sandulas" target="_blank" class="content">
					<img src="~/images/icon-github.png" />/sandulas
				</a>
			</p>
			<p>
				<a href="http://facebook.com/sandulas" target="_blank" class="content">
					<img src="~/images/icon-facebook.png" />/sandulas
				</a>
			</p>
		</div>
	</div>
	<div></div>
</div>

