@{
	ViewData["Title"] = "Contact";
}

<div class="content-flexbox">
	<div></div>
	<div>
		<address>
			<p>Bucharest, Romania</p>
		</address>
		<address>
			<p><a href="mailto:sandulas@gmail.com">sandulas@gmail.com</a></p>
		</address>
	</div>
	<div></div>
</div>

