@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
	Bucharest, Romania
</address>

<address>
	<a href="mailto:sandulas@gmail.com">sandulas@gmail.com</a>
</address>
