@{
	ViewData["Title"] = "Contact";
}

<div class="content-flexbox">
	<div></div>
	<div>
		<div class="contact-content">
			<div>
				<p><img src="~/images/icon-skype.png" />sandulas</p>
				<p><img src="~/images/icon-email.png" />sandulas@gmail.com</p>
				<p><img src="~/images/icon-phone.png" />+40 722 174314</p>
			</div>
			<div>
				<p><img src="~/images/icon-web.png" />sandulas.xyz</p>
				<p><img src="~/images/icon-linkedin.png" />/in/sandulas</p>
				<p><img src="~/images/icon-github.png" />/sandulas</p>
			</div>
		</div>
	</div>
	<div></div>
</div>

