@{
    ViewData["Title"] = "Resume";
}

<div class="content-flexbox">
	<div></div>
	<div>

		<!-- Experience -->
		<div class="resume-header">
			<img src="~/images/icon-experience.png" /><h2>Experience</h2>
		</div>
		<div class="resume-content">
			<p>
				<img src="~/images/circle.svg" />Senior Backend Developer, Product Manager<br />
				<span><b>Nov 2012 - Present,</b> Pronetis Games</span>
			</p>
			<ul>
				<li><span>Develop backend applications, API's and tools to support games with over 20 million total players and over 100k daily active users.</span></li>
				<li><span>Recruit and train developers.</span></li>
				<li><span>Implement project management methodologies, introduce tools and practices to maximize efficiency.</span></li>
				<li><span>Implement analytics, define and monitor KPIs.</span></li>
				<li><span>Create original game concepts, UX, game design, level design.</span></li>
			</ul>
		</div>
		<div class="resume-content">
			<p>
				<img src="~/images/circle.svg" />Team Lead (Web Development)<br />
				<span><b>Aug 2007 - Nov 2012,</b> Pronetis</span>
			</p>
			<ul>
				<li><span>Create and document technical specifications.</span></li>
				<li><span>Application architecture design (define modules and interactions, services, APIs).</span></li>
				<li><span>Project management (define milestones, workload management, tasks assignment and prioritization).</span></li>
				<li><span>Client communication (clarify the scope of the projects, report progress, accommodate new requests, re-evaluate timelines).</span></li>
			</ul>
		</div>
		<div class="resume-content">
			<p>
				<img src="~/images/circle.svg" />Full Stack Web Developer<br />
				<span><b>Oct 2002 - Aug 2007,</b> Telemach</span>
			</p>
			<ul>
				<li><span>Develop, deploy and maintain web applications.</span></li>
				<li><span>Design and optimize relational databases.</span></li>
				<li><span>Integrate external SDKs and APIs.</span></li>
			</ul>
		</div>
		<div class="resume-content">
			<p>
				<img src="~/images/circle.svg" />Junior Web Developer<br />
				<span><b>Oct 2001 - Oct 2002,</b> Internet Software Design</span>
			</p>
			<ul>
				<li><span>Develop and maintain websites.</span></li>
				<li><span>Create Flash animations and interactive presentations.</span></li>
			</ul>
			<div></div>
		</div>

		<!-- Projects -->
		<div class="resume-header">
			<img src="~/images/icon-projects.png" /><h2>Projects</h2>
		</div>
		<div class="resume-content">
			<p><img src="~/images/circle.svg" />Web Applications</p>
			<ul>
				<li><span>National Geographic Channel Global Web Platform (client facing websites and CMS) - <a href="http://natgeotv.com" target="_blank">natgeotv.com</a>.</span></li>
				<li><span>Fox International Channels Asia Websites.</span></li>
				<li><span>Fox TV UK Website - <a href="http://foxtv.co.uk" target="_blank">foxtv.co.uk</a>.</span></li>
				<li><span>I Can, Can U - a social platform for "favour" sharing.</span></li>
			</ul>
		</div>
		<div class="resume-content">
			<p><img src="~/images/circle.svg" />Games</p>
			<ul>
				<li><span>GyroSphere Evolution -
					<a href="https://itunes.apple.com/ro/app/gyrosphere-evolution/id1261265238?mt=8" target="_blank">iOS</a>,
					<a href="https://play.google.com/store/apps/details?id=com.pronetis.gyrosphereevolution&hl=en" target="_blank">Android</a>,
					<a href="https://gyrosphereevolution.com/" target="_blank">Website</a>.</span></li>
				<li><span>GyroSphere Trials -
					<a href="https://store.steampowered.com/app/673280/GyroSphere_Trials/" target="_blank">PC</a>,
					<a href="https://itunes.apple.com/us/app/gyrosphere-trials/id1035238692?mt=8" target="_blank">iOS</a>,
					<a href="https://play.google.com/store/apps/details?id=com.pronetis.gyrosphere&hl=en" target="_blank">Android</a>.</span></li>
				<li><span>3D Sketch Studio -
					<a href="https://itunes.apple.com/ro/app/3d-sketch-studio/id881447162?mt=12" target="_blank">Mac</a>,
					<a href="https://itunes.apple.com/us/app/3d-sketch-studio/id786120101?mt=8" target="_blank">iOS</a>,
					<a href="https://play.google.com/store/apps/details?id=com.crocostudio.sketchandstretch&hl=en" target="_blank">Android</a>.</span></li>
				<li><span>Build and Play 3D -
					<a href="https://itunes.apple.com/us/app/build-and-play/id545626598?mt=8" target="_blank">iOS</a>,
					<a href="https://play.google.com/store/apps/details?id=com.crocostudio.buildandplay&hl=en_US" target="_blank">Android</a>.</span></li>
				<li><span>Fairytale Sort and Stack -
					<a href="https://itunes.apple.com/us/app/fairytale-sort-and-stack/id655508309?mt=8" target="_blank">iOS</a>,
					<a href="https://play.google.com/store/apps/details?id=com.crocostudio.fairytalesortandstack&hl=en" target="_blank">Android</a>.</span></li>
			</ul>
		</div>
		<div class="resume-content">
			<p><img src="~/images/circle.svg" />Personal</p>
			<ul>
				<li><span><a href="http://sandulas.xyz" target="_blank">sandulas.xyz</a> - personal website.</span></li>
				<li><span>Mechanics Playground - proof of concept for basic 2D physics in Unity -
					<a href="https://itunes.apple.com/us/app/mechanics-playground/id1058417101?mt=8" target="_blank">iOS</a>,
					<a href="https://drive.google.com/file/d/0B3gyd8mDsXNlTm9xbGlhWlE1aEk/view?usp=sharing" target="_blank">Video</a>.</span></li>
				<li><span>Tumble Up! - small action-puzzle game created in 24 hours at Ubisoft GameJam 2015.</span></li>
			</ul>
			<div></div>
		</div>

		<!-- Skills -->
		<div class="resume-header">
			<img src="~/images/icon-skills.png" /><h2>Skills</h2>
		</div>
		<div class="resume-content">
			<p><img src="~/images/circle.svg" />Development</p>
			<ul>
				<li><span>ASP.NET, ASP.NET Core - MVC, Web API, Razor Pages, Web Forms.</span></li>
				<li><span>C#, SQL, Javascript, HTML, CSS.</span></li>
				<li><span>Relational database design and optimization, Microsoft SQL Server.</span></li>
				<li><span>Microsoft Azure - Bot Framework, QnAMaker, App Services.</span></li>
				<li><span>Unity 3D Game Engine.</span></li>
			</ul>
		</div>
		<div class="resume-content">
			<p><img src="~/images/circle.svg" />Software, Tools</p>
			<ul>
				<li><span>Trello, Photoshop, Draw.io, Google Docs.</span></li>
				<li><span>GIT, SVN, jMeter, Postman, Curl.</span></li>
				<li><span>Windows, Mac OS, Linux.</span></li>
			</ul>
		</div>
		<div class="resume-content">
			<p><img src="~/images/circle.svg" />Project Management</p>
			<ul>
				<li><span>Scrum, Kanban, Watterfall.</span></li>
				<li><span>Burndown Charts, Kanban Boards, Flow Diagrams, Gantt Charts.</span></li>
			</ul>
		</div>
		<div class="resume-content">
			<p><img src="~/images/circle.svg" />Languages</p>
			<ul>
				<li><span>English - advanced.</span></li>
				<li><span>Romanian - native.</span></li>
			</ul>
			<div></div>
		</div>


		<!-- Education -->
		<div class="resume-header">
			<img src="~/images/icon-education.png" /><h2>Education</h2>
		</div>
		<div class="resume-content">
			<p>
				<img src="~/images/circle.svg" />Electronics and Telecommunications<br />
				<span><b>1998 - 2002,</b> "Politehnica" University of Bucharest (not finished)</span>
			</p>
		</div>
		<div class="resume-content">
			<p>
				<img src="~/images/circle.svg" />Computer Science<br />
				<span><b>1994 - 1998,</b> "Ion Barbu" High School, Pitesti</span>
			</p>
			<div></div>
		</div>

	</div>
	<div></div>
</div>
