@{
    ViewData["Title"] = "Resume";
}

<div class="content-flexbox">
	<div></div>
	<div>
		<div style="background: #eeeeee; border-radius: 99999px; position: relative; padding: .75rem 7rem; margin: 0 .5rem; font-size: 1.5rem; font-weight: 600;">
			<img src="~/images/avatar.jpg" style="position: absolute; top: -1.25rem; left: -.24rem; width: 5rem; height: 5rem; border-radius: 50%; border: solid .24rem #ffffff; background-color: #ffffff;" />
			Experience
		</div>
	</div>
	<div></div>
</div>
