@{
    ViewData["Title"] = "Resume";
}

<div class="content-flexbox">
	<div></div>
	<div>

		<!-- Experience -->
		<div class="resume-header">
			<img src="~/images/avatar.jpg" /><h2>Experience</h2>
		</div>
		<div class="resume-content">
			<p>
				<img src="~/images/circle.svg" />Senior Backend Developer, Product Manager<br />
				<span><b>Nov 2012 - Present,</b> Pronetis Games</span>
			</p>
			<ul>
				<li>Develop backend applications, API's and tools to support games with over 20 million total players and over 100k daily active users.</li>
				<li>Recruit and train developers.</li>
				<li>Implement project management methodologies, introduce tools and practices to maximize efficiency.</li>
				<li>Implement analytics, define and monitor KPIs.</li>
				<li>Create original game concepts, UX, game design, level design.</li>
			</ul>
		</div>
		<div class="resume-content">
			<p>
				<img src="~/images/circle.svg" />Team Lead (Web Development)<br />
				<span><b>Aug 2007 - Nov 2012,</b> Pronetis</span>
			</p>
			<ul>
				<li>Create and document technical specifications.</li>
				<li>Application architecture design (define modules and interactions, services, APIs).</li>
				<li>Project management (define milestones, workload management, tasks assignment and prioritization).</li>
				<li>Client communication (clarify the scope of the projects, report progress, accommodate new requests, re-evaluate timelines).</li>
			</ul>
		</div>
		<div class="resume-content">
			<p>
				<img src="~/images/circle.svg" />Full Stack Web Developer<br />
				<span><b>Oct 2002 - Aug 2007,</b> Telemach</span>
			</p>
			<ul>
				<li>Develop, deploy and maintain web applications.</li>
				<li>Design and optimize relational databases.</li>
				<li>Integrate external SDKs and APIs.</li>
			</ul>
		</div>
		<div class="resume-content">
			<p>
				<img src="~/images/circle.svg" />Junior Web Developer<br />
				<span><b>Oct 2001 - Oct 2002,</b> Internet Software Design</span>
			</p>
			<ul>
				<li>Develop and maintain websites.</li>
				<li>Create Flash animations and interactive presentations.</li>
			</ul>
			<img src="~/images/dot.svg" />
		</div>

		<!-- Projects -->
		<div class="resume-header">
			<img src="~/images/avatar.jpg" /><h2>Projects</h2>
		</div>
		<div class="resume-content">
			<p><img src="~/images/circle.svg" />Web Applications</p>
			<ul>
				<li>National Geographic Channel Global Web Platform (client facing websites and CMS) - <a href="http://natgeotv.com" target="_blank">natgeotv.com</a>.</li>
				<li>Fox International Channels Asia Websites.</li>
				<li>Fox TV UK Website - <a href="http://foxtv.co.uk" target="_blank">foxtv.co.uk</a>.</li>
				<li>I Can, Can U - a social platform for "favour" sharing.</li>
			</ul>
		</div>
		<div class="resume-content">
			<p><img src="~/images/circle.svg" />Games</p>
			<ul>
				<li>GyroSphere Evolution - <a href="">iOS</a>, <a href="">Android</a>, <a href="">Video</a>.</li>
				<li>GyroSphere Trials - <a href="">PC</a>, <a href="">iOS</a>, <a href="">Android</a>, <a href="">Video</a>.</li>
				<li>3D Sketch Studio - <a href="">iOS</a>, <a href="">Android</a>, <a href="">Video</a>.</li>
				<li>Build and Play 3D - <a href="">iOS</a>, <a href="">Android</a>, <a href="">Video</a>.</li>
				<li>Fairytale Sort and Stack - <a href="">iOS</a>, <a href="">Android</a>, <a href="">Video</a>.</li>
			</ul>
		</div>
		<div class="resume-content">
			<p><img src="~/images/circle.svg" />Personal</p>
			<ul>
				<li><a href="http://sandulas.xyz" target="_blank">sandulas.xyz</a> - personal website.</li>
				<li>Mechanics Playground - proof of concept for basic 2D physics in Unity - <a href="" target="_blank">iOS</a>.</li>
			</ul>
			<img src="~/images/dot.svg" />
		</div>

		<!-- Skills -->
		<div class="resume-header">
			<img src="~/images/avatar.jpg" /><h2>Skills</h2>
		</div>
		<div class="resume-content">
			<p><img src="~/images/circle.svg" />Development</p>
			<ul>
				<li>ASP.NET, ASP.NET Core - MVC, Web API, Razor Pages, Web Forms.</li>
				<li>C#, SQL, Javascript, HTML, CSS.</li>
				<li>Relational database design and optimization, Microsoft SQL Server.</li>
				<li>Microsoft Azure - Bot Framework, QnAMaker, App Services.</li>
				<li>Unity 3D Game Engine.</li>
			</ul>
		</div>
		<div class="resume-content">
			<p><img src="~/images/circle.svg" />Software, Tools</p>
			<ul>
				<li>Trello, Photoshop, Draw.io, Google Docs.</li>
				<li>GIT, Selenium, Postman, Curl.</li>
				<li>Windows, Mac OS, Linux.</li>
			</ul>
		</div>
		<div class="resume-content">
			<p><img src="~/images/circle.svg" />Project Management</p>
			<ul>
				<li>Scrum, Kanban, Watterfall.</li>
				<li>Burndown Charts, Kanban Boards, Flow Diagrams, Gantt Charts.</li>
			</ul>
		</div>
		<div class="resume-content">
			<p><img src="~/images/circle.svg" />Languages</p>
			<ul>
				<li>English - advanced.</li>
				<li>Romanian - native.</li>
			</ul>
			<img src="~/images/dot.svg" />
		</div>


		<!-- Experience -->
		<div class="resume-header">
			<img src="~/images/avatar.jpg" /><h2>Education</h2>
		</div>
		<div class="resume-content">
			<p>
				<img src="~/images/circle.svg" />Electronics and Telecommunications<br />
				<span><b>1998 - 2002,</b> "Politehnica" University of Bucharest (not finished)</span>
			</p>
		</div>
		<div class="resume-content">
			<p>
				<img src="~/images/circle.svg" />Computer Science<br />
				<span><b>1994 - 1998,</b> "Ion Barbu" High School, Pitesti</span>
			</p>
			<img src="~/images/dot.svg" />
		</div>

	</div>
	<div></div>
</div>
