﻿@import url('https://fonts.googleapis.com/css?family=Archivo+Narrow:400,600');

html, body { height: 100%; margin: 0px; padding: 0px; background: #ffffff; color: #333333; font-size: 18px; font-weight: 400; font-family: 'Archivo Narrow', 'Trebuchet MS', sans-serif; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
body { display: flex; flex-direction: column; justify-content: space-between;}

p {  line-height: 1.5em; margin: .5em 0; }
a, a.visited { color: #0088dd; text-decoration: none; }
a:hover { color: #1ba7ff; }

/* header */
header { display: flex; height: 3rem; background: #eeeeee; margin-top: 5.3rem; }
header > div:nth-of-type(odd) { flex-grow: 1; }
header > div:nth-of-type(2) { width: 1200px; min-width: 600px; flex-grow: 0; padding: 0 1rem; display: flex; align-items: center; }

header > div > div:nth-of-type(1) { flex: 1; white-space: nowrap; }
header > div > div:nth-of-type(2) { width: 8.38rem; }
header > div > div:nth-of-type(3) { flex: 1; white-space: nowrap;  text-align: right; }

header a.title { position: absolute; top: .5rem; font-size: 1.25rem; }
header a.title span { font-size: 80%;}

header a.avatar { position: absolute; top: .5rem; }
header a.avatar > img { width: 7.9rem; height: 7.9rem; border-radius: 50%; border: solid .24rem #ffffff; background: #ffffff; }

header a, header a:visited, header a:hover { font-weight: 400; color: inherit; text-decoration: inherit; }
header a.nav { display: inline-block; font-size: 1.1rem; padding: .3em 0 .35em 0; }
header a.nav:hover, header a.selected { background: url(/images/line.svg) no-repeat center bottom; color: #333333; }
header a.left { margin-right: 45px; }
header a.right { margin-left: 45px; }

@media only screen and (min-width: 640px) {
	#navMenuIcon, #navMenu { display: none !important; }
}
@media only screen and (max-width: 639px) {
	header { height: 2.2rem; margin-top: 4.2rem; }
	header > div:nth-of-type(2) { min-width: 0; padding: 0; }

	header > div > div:nth-of-type(2) { width: 6.8rem; }

	header a.title { left: .7rem; top: .25rem; }

	#navMenuIcon { display: block; width: 2.5rem; height: 2.2rem; background:  #eeeeee url(/images/menu.svg) no-repeat center; font-size: 0; }
	#navMenuIcon.on { background-image: url(/images/menu_light.svg); background-color: #333333; }
	#navMenu { display: none; position: absolute; z-index: 2; left: 0; top: 6.4rem; padding: 1.1rem 0 .5rem 0; width: 100%; display: none; background: #333333; text-align: center; box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.25); }
	#navMenu a { display: inline-block; padding: .5rem 1rem; font-size: 1.1rem; background-color: #333333; color: #eeeeee; }
	#navMenu a:hover, #navMenu a.selected {  background: #333333 url(/images/line_light.svg) no-repeat center 1.8em;  }

	header a.avatar { position: absolute; top: .25rem; }
	header a.avatar > img { width: 6.4rem; height: 6.4rem; border-radius: 50%; border: solid .2rem #ffffff; background: #ffffff; }

	header a.nav { display: none; left: 0px; padding: 1rem; font-size: 1.1rem; }
}

/* content items and footer */
.content-flexbox { display: flex; }
.content-flexbox > div:nth-of-type(odd) { flex: 1; }
.content-flexbox > div:nth-of-type(2) { width: calc(1200px + 2rem); min-width: calc(600px + 2rem); }

h1 { font-size: 1.75rem; font-weight: 400; padding: 2.5rem 1rem; margin: 0; text-align: center; }
.footer { height: 3rem; min-height: 3rem; border-bottom: solid 1rem #ffffff; align-items: center; text-align: center; background: #eeeeee; }

@media only screen and (max-width: 639px) {
	.content-flexbox > div:nth-of-type(2) { min-width: 0; }
	h1 { font-size: 1.7rem; font-weight: 400; padding: 2rem .7rem 1.5rem .7rem; margin: 0; text-align: center; }
	.footer { height: 2.2rem; min-height: 2.2rem; border-bottom: solid .7rem #ffffff; align-items: center; text-align: center; background: #eeeeee; }
}

/* about page */
.about-item-left { margin-bottom: 5rem; }
.about-item-left > div:nth-of-type(2) { position: relative; }
.about-item-left img { position: absolute; width: 12rem; height: 12rem; top: -1.24rem; left: .76rem; border-radius: 50%; border: solid .24rem #ffffff; background: #ffffff; }
.about-item-left > div > div { min-height: 9rem; margin-left: 7rem; padding: .5rem 1rem .5rem 8.5rem; font-size: 1.1rem; border-radius: 0 0 0 1rem; background: #eeeeee; }
.about-item-left p:first-child { font-size: 110%; font-weight: 600; }
.about-item-left > div:nth-of-type(3) { background: #eeeeee; }

.about-item-right { margin-bottom: 5rem; }
.about-item-right > div:nth-of-type(1) { background: #eeeeee; }
.about-item-right > div:nth-of-type(2) { position: relative; }
.about-item-right img { position: absolute; width: 12rem; height: 12rem; top: -1.24rem; right: .76rem; border-radius: 50%; border: solid .24rem #ffffff; background: #ffffff; }
.about-item-right > div > div { min-height: 9rem; margin-right: 7rem; padding: .5rem 8.5rem .5rem 1rem; font-size: 1.1rem; border-radius: 0 0 1rem 0; background: #eeeeee; text-align: right; }
.about-item-right p:first-child { font-size: 110%; font-weight: 600; }

@media only screen and (max-width: 639px) {
	.about-item-left { margin-bottom: 10.5rem; }
	.about-item-left img { width: 9rem; height: 9rem; top: auto; bottom: -8.3rem; left: auto; right: .5rem; border-width: .2rem }
	.about-item-left > div > div { min-height: 0; margin-left: 0; padding: .25rem .7rem .5rem .7rem; font-size: 1.1rem; border-radius: 0; }
	.about-item-left p:first-child { font-size: 110%; font-weight: 600; }

	.about-item-right { margin-bottom: 10.5rem; }
	.about-item-right img { width: 9rem; height: 9rem; top: auto; bottom: -8.3rem; left: .5rem; right: auto; border-width: .2rem }
	.about-item-right > div > div { min-height: 0; margin-right: 0; padding: .25rem .7rem .5rem .7rem; font-size: 1.1rem; border-radius: 0; }
	.about-item-right p:first-child { font-size: 110%; font-weight: 600; }
}

/* resume page */
.resume-header { margin: 0 1rem; border-radius: 999px; background: #eeeeee; position: relative; }
.resume-header > img { width: 5rem; height: 5rem; position: absolute; z-index: 1; top: -1.22rem; left: -.24rem; border-radius: 50%; border: solid .24rem #ffffff; background-color: #ffffff;}
.resume-header > h2 { padding: .8rem 7rem; margin: 0; font-size: 1.55rem; font-weight: 600; }

.resume-content { padding: 2.2rem 1.5rem 0 6rem; font-size: 1.1rem; background: url(/images/dot.svg) repeat-y 3.4rem top; position: relative; }
.resume-content + .resume-header {  margin-top: 5rem; }
.resume-content:last-child { margin-bottom: 4rem; }
.resume-content > p { font-size: 110%; font-weight: 600; margin: 0; line-height: 1.3rem; position: relative; }
.resume-content > p > img { width: .55rem; height: .55rem; position: absolute; left: -2.82rem; top: .3rem; } 
.resume-content > p > span { font-size: 90%; font-weight: 400; line-height: 1.8rem; }
.resume-content > ul { padding: .4rem 0 0 1em; margin: 0; line-height: 1.5rem; }
.resume-content li > span { margin-left: -.3rem; display: block; }
.resume-content > div { width: .55rem; height: 2px; position: absolute; left: 3.18rem; bottom: 0rem; background: url(/images/dot.svg) repeat-x; }

@media only screen and (max-width: 639px) {
	.resume-header { margin: 0 .333rem .2rem 0; border-radius: 0 999px 999px 0; }
	.resume-header > img { width: 3.89rem; height: 3.89rem; top: -0.8rem; left: .44rem; border-width: .166rem; }
	.resume-header > h2 { padding: .7rem 5.7rem; font-size: 1.33rem; }

	.resume-content { padding: 1.6rem 1rem 0 .66rem; font-size: 1.1rem; background: none; }
	.resume-content + .resume-header {  margin-top: 3.5rem; }
	.resume-content:last-child { margin-bottom: 3rem; }
	.resume-content > div { display: none; }
}