@page "{id=null}"
@using AspNetCoreMvc.Pages
@model TestModel
@{
}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - AspNetCore2</title>
</head>
<body>
	Test razor page<br />
	Id: @Model.Id
</body>
</html>